<h2> Edit <%= @post.post %> </h2>

<div class="well">

<%= form_for(@post) do |f| %>
<div class="form-group">
<%= f.label :title %>
<%= f.text_field :post %>
<%= f.label :link %>
<%= f.text_field :link %>
<br />
<%= f.submit(:class => "btn btn-primary") %>
</div>
<% end %>
</form>
</div>
